@import './styles/variables';


body {
  justify-content: center;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-family: $main-font;
  font-size: larger;
  // background-color: orange;
  // display:flex;
  // flex-direction: row;
  // margin-left: 12vw;

}

h1, h2 {
  font-family: $header-font;
  font-weight: 400;
}
// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

index {
  border: $test;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 100%;
}

.img-container {
  display: flex;
  border: $test;
}