@import './styles/variables';


body {
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $main-font;
  font-size: large;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

}

button:hover {
  cursor: pointer;
}

p:visited,
a:visited {
  color: $main-color;
}

a:link {
  text-decoration: none;
  color: $main-color;
}

a:hover {
  color: $accent-color;
  // text-decoration: underline;
}

h1 {
  font-family: $header-font;
  font-size: 3rem;
  font-weight: bold;
  // border: $test;
}

h2 {
  font-family: $header-font;
  font-size: 2rem;
  color: $main-color // font-weight: bold;
}

////for Product index page////

article {
  // border: $test;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 5vw;


  h1 {
    // border: $test;
    margin-left: 22vw;
  }


  .img-container {
    display: flex;
    // border: $test;

    h2 {
      margin-top: 0%;
      margin-bottom: 10vh;
      padding-bottom: 10%;
      font-family: $header-font;
      font-weight: 400;
    }

    .mdlImg {
      margin-top: 5.75rem;
      width: auto;
      height: 6vw;
    }

    img {
      // border: $test;
      margin: 3vw;
      margin-bottom: 3vh;
      width: auto;
      height: 8.5vw;
    }

    .image-title {
      // border: $test;
      display: flex;
      flex-direction: column;
      margin-bottom: 5vw;

      // padding: 0%;


    }


  }
}

@media only screen and (max-width: 780px) {

  article {
    // border: $test;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 5vw;
  }

  article .img-container {
    // border: $test;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .image-title {
    // border: $test;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .image-title > a > img {
    width: 40vw;
    height: auto;
  }

  .image-title > h2 > a {
    font-size: xx-large;
    

  }
}