@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Bebas+Neue&family=Oswald:wght@200;300;500;600;700&family=Roboto+Condensed:wght@300;400&display=swap');


$main-font: Archivo Narrow;
$title-font: BEBAS NEUE;
$header-font: Oswald;
$main-color:#4C4E52;
$test: solid black;
$menu-border: 0.5px solid white;
$menu-bg: lightgrey;
$accent-color: #0e9e8b;
$chart-border: 3px solid white;
$footer-height: 14rem;
$med-screen: 780px;
$sm-screen: 600px;