@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Bebas+Neue&family=Oswald:wght@200;300;500;600;700&family=Roboto+Condensed:wght@300;400&display=swap');


$main-font: Archivo Narrow;
$header-font: BEBAS NEUE;
$main-color: #2f4f4f;
$test: solid black;