@import 'variables.scss';

.about {
    // border: $test; 
    font-family: $main-font;
    color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;


    .main-section {
        // border: $test;
        margin-top: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: row;
       
       
        .robot {
            // border: $test;
            width: 20vw;
            height: 30vw;
            border-radius: 12px;
        }


        .text {
            // border: $test;
            display: flex;
            flex-direction: column;
            width: 20rem;
            margin-right: 5vw;
            text-align: left;
            // margin-bottom: 10vh;

            h1{
                margin: 2vw
            }

        }


    }
}

@media only screen and (max-width: $med-screen) {

    .about .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.about .main-section .robot {
    width: 40vw;
    height:auto
}
    
}

@media only screen and (max-width: $med-screen) {
    
    .about .main-section .robot {
        width: 60vw;
        height:auto
    }

    .about .main-section .text {
        width: 60vw;
  
    }
}