@import 'variables.scss';

.about {
    // border: $test;
    font-family: $main-font;
    color: $main-color;
    // border: $test;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;
    margin-top: 6vw;


    .main-section {
        // border: $test;
        margin-top: 6vh;
        display: flex;
        flex-direction: row;
       
       
        .robot {
            // border: $test;
            width: 23rem;
            border-radius: 12px;
        }


        .text {
            // border: $test;
            display: flex;
            flex-direction: column;
            width: 20vw;
            margin-right: 5vw;
            text-align: left;
            // margin-bottom: 10vh;

            h1{
                margin: 2vw
            }

        }


    }
}