@import 'variables.scss';

.main-babbitt {
    // border: $test;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    align-items: center;
    width: 70%;
    color: $main-color;
    width: 60vw;
    margin-left: 10vw ;
    margin-right: 24vw;
    margin-bottom: 5vh;
    margin-top: 3vh;
    text-align: left;
    

    p {
        text-align: left;
        margin-top: 2vh;
        margin-bottom: 1vh;
        
    }

    h3 {
        margin-top: 4vh;
        margin-bottom: 1vh;
    }
}


.list-babbitt {
    // border: $test;
    display: flex;
    justify-content: center;

    
    li {
        // border: $test;
        width: 20vw;
        padding-left: 0vw;
        // margin-left: 4vw;
    }
}

