@import 'variables.scss';


.Burger {
    // border: $test;
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 15px;
    right: 3vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    div {
        width: 2rem;
        height: 0.25rem;
        background-color: $main-color;
        border-radius: 10px;

    }
}