@import 'variables.scss';

label {
    // border: $test;
    font-family: $main-font;
    color: $main-color;
    // padding: 1vw;
    margin: 0.5rem;
    width: 4em;
    display: inline-block;
    text-align: right;


}

input, textarea {
    border: 1px solid $main-color;
    border-radius: 3px;
    height: 2rem;
    width: 20rem;
    margin: 0.5rem;
     // border: $test;

}

textarea {
        vertical-align: middle;
        width: 20rem;
        height: 10rem
}

input:focus, textarea:focus {
    background-color:#11cfb5;

}

button {
    border: 1px solid $main-color;
    // background-color: $accent-color;
    width: 7rem;
    height: 2rem;
    border-radius: 3px;
    font-family: $header-font;
    font-size: large;
    margin-top: 2rem;


}


form {
    margin: 3rem;
    //  border: $test;
}

::placeholder {
    font-family: $main-font;
    font-size: x-large;
    padding-left: 0.25rem;
padding-top: .25rem;
// border: $test;

}