@import 'variables.scss';

label {
    // border: $test;
    font-family: $main-font;
    color: $main-color;
    // padding: 1vw;
    // margin: 0.5rem;
    // width: 8em;
    // display: inline-block;
    // text-align: right;
    // white-space: nowrap;
  float:left;
  width:25%;
  text-align:right;
  margin-right:5px;
  vertical-align:middle;
}

input,
textarea, select {
    border: 1px solid $main-color;
    border-radius: 3px;
    height: 2rem;
    width: 20rem;
    margin: 0.5rem;
    // border: $test;
    font-family: $main-font;
    font-size: large;
    padding-left: .5rem;
    display: table;
    // float: left;


}

textarea {
    vertical-align: middle;
    width: 20rem;
    height: 10rem;
    display: table;
}

input:focus,
textarea:focus {
    border: 2px soild #11cfb5;
    // background-color: $accent-color;

}

button {
    border:none;
    background-color: $accent-color;
    color: white;
    width: 20rem;
    height: 2.5rem;
    border-radius: 20px;
    font-family: $header-font;
    font-size: large;
    margin-top: 2rem;


}


form {
    // margin: 3rem;
     border: $test;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

::placeholder {
    font-family: $main-font;
    font-size: x-large;
    padding-left: 0.25rem;
    padding-top: .25rem;
    // border: $test;

}

// fieldset > label {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;

//     display: inline-block;
//     width:4empx;
//     text-align: right;

//     label {
//         // border: $test;
//         font-family: $main-font;
//         color: $main-color;
//         // padding: 1vw;
//         margin: 0.5rem;
//         width: 4em;
//         display: inline-block;
//         text-align: right;
    
    
//     }
// }

// #thickness:focus {
//     background-color: $accent-color;
// }