@import '_variables.scss';


.footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // justify-content: space-between;
    background-color: $main-color;
    // border: $test;
    width: 100%;
    bottom: 0;
    height: $footer-height;
    margin: 0%;
    color: white;
    position: absolute;

    .side-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 3vw;
        padding-right: 3vw;
        // margin-left: 3vw;
        // border: $test;
        background-color: rgba(0,0,0,0.3);
        box-sizing: border-box;
        margin-left: 2vw;

        // .address {
        //     display: flex;
        //     flex-direction: row;
        // }

        h2 {
            letter-spacing: 1px;
            font-weight: 400;
            margin-top: 40px;
            margin-bottom: 30px;
        }
        // border: $test;

        .info {
            display: flex;
            flex-direction: row;
            // border: $test;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
            flex-wrap: nowrap;
            margin-top: 10px;

            img {
                height: 50px;
                display: flex;
                // border: $test;
                // align-items: center;
                margin: 0px;
                margin-right: 25px;
                padding-right: 0px;
                width: 15%;

            }

            p {
                // border: $test;
                display: flex;
                align-items: center;
                // flex-wrap: nowrap;
                white-space: nowrap;
                margin: 0px;
                padding: 0px;


            }
        }

    }

    a {
        color: white;
        font-size: xx-large;
        // border: $test;
    }


}

.submit {
    // border: $test;
    display: flex;
    align-items: flex-end;
    position: fixed;
    margin-right: 2vw;
    margin-bottom: 3vh;
    bottom: 0;
    right: 0;

    button {
        width: 15rem;
        height: 5rem;

    }
}

.copyright {
    // border: $test;
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    font-size: x-large;
    // margin-left: 110px
}

