@import '_variables.scss';


.footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // justify-content: space-between;
    background-color: $main-color;
    // border: $test;
    width: 100%;
    bottom: 0;
    height: $footer-height;
    margin: 0%;
    color: white;
    position: absolute;

    .side-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 3%;
        padding-right: 6%;
        background-color: rgba(0,0,0,0.3);
        margin-left: 2%;
        // border: $test;

        // .address {
        //     display: flex;
        //     flex-direction: row;
        // }

        h2 {
            letter-spacing: 1px;
            font-weight: 400;
            margin-top: 5%;
            margin-bottom: 1%;
            color: white;
        }
        // border: $test;

        .info {
            display: flex;
            flex-direction: row;
            // border: $test;
            justify-content: center;
            align-items: center;
            font-size: large;
            flex-wrap: nowrap;
            margin-top: 0px;
   


            .map-icon {
                margin-right : 3%;
                width: 11%;
                // border: $test;
            }

            img {
                height: 50px;
                display: flex;
                // border: $test;
                // align-items: center;
                margin: 0px;
                margin-right: 7%;
                padding-right: 0px;
                width: 15%;
                height: 40%;

            }

            p {
                // border: $test;
                // display: flex;
                // align-items: center;
                // flex-wrap: nowrap;
                white-space: nowrap;
                margin-bottom: 0px;
                margin-top: 0;
                // padding: 0px;
            }
        }

    }

    a {
        color: white;
        font-size: x-large;
        letter-spacing: 0.75px;
        // border: $test;
    }


}

.submit {
    // border: $test;
    display: flex;
    align-items: flex-end;
    position: fixed;
    margin-right: 2vw;
    margin-bottom: 2vw;
    bottom: 0;
    right: 0;

    .order {
        width: 11rem;
        height: 3rem;
        box-shadow: 5px 7px rgb(0 0 0 / 16%), 1px 2px rgb(0 0 0 / 23%);

    }
}

.copyright {
    // border: $test;
    display: flex;
    align-items: flex-end;
    margin-top: 4%;
    font-size: large;
    // margin-left: 110px
}

