@import 'variables.scss';

    // // border: $test;
    // display: flex;
    // flex-direction: column;
    // // align-items: flex-end;
    // align-items: center;
    // width: 70%;
    // color: $main-color;
    // width: 60vw;
    // margin-left: 10vw ;
    // margin-right: 24vw;
    // margin-bottom: 5vh;
    // margin-top: 3vh;
    // text-align: left ;

.paragraph {
    // font-family: $main-font;
    // color: $main-color;
    // border: $test;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    z-index: 1;

    p {
        width: 50vw;

    }

    a {
        text-decoration: underline;
        text-underline-offset: 0.25em;
    }

}

.paragraph>img {
    width: 70vw;
    margin-top: 5vh;
    border-radius: 10px;
}

h1 {
    display: flex;
    font-family: $header-font;
    font-weight: 400;
    color: $main-color;
    justify-content: center;
    margin-bottom: 0px;
}


.section>a>img {
    // border: $test;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-left: 1vw;
    width: 15vw;
}

.products {
    display: flex;
    justify-content: center;
    margin-top: 0px;

}

.section {
    // border: $test;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    color: $main-color;

}


a>.logo {
    // border: $test;
    height: 10vh;
    margin-bottom: 0%;
}

a>h2 {
    // border: $test;
    margin-top: 2vh;
}

@media only screen and (max-width: $med-screen) {

    .Home {
        width: 100vw;
        // border: $test;
        margin: 0;
    }

    .paragraph {
        display: flex;
        margin-left: 0;

        width: 100vw;
        // border: $test;
    }


    .paragraph>p {
        width: 80vw;


    }

    .paragraph>img {
        // border: $test;
        width: 100vw;
        display: flex;
        margin-left: 0;
        border-radius: 0;

    }

    .products {
        display: flex;
        flex-direction: column;

        a>img {
            width: 70vw;
            margin: 2.5rem;
        }

    }



}