@import 'variables.scss';


.paragraph {
    font-family: $main-font;
    color: $main-color;
    // border: $test;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20vw;
    margin-right: 20vw;

}

h1 {
    display: flex;
    font-family: $header-font;
    font-weight: 400;
    color: $main-color;
    justify-content: center;
}


.Brands {
    display: flex;
    font-family: $header-font;
    font-weight: 400;
    flex-direction: row;
    font-family: $header-font;
    color: $main-color;
    justify-content: center;
    border: $test
}

