@import 'variables.scss';

div.Nav {
    display: flex;
    justify-content: center;

    // border: $test;
}

div.left-side {
    display: flex;
    flex: 80%;
    flex-direction: row;
    align-items: flex-end;
    margin: 0px;
    padding: 0px;
    padding-left: 16%;

    // border: $test;
}

img {
    display: flex;
    width: 9vw;
    height: auto;
    object-fit: contain;
    margin: 0px;
    margin-bottom: 1.5vw;
    margin-right: 1vw;
}

.left-side>a>h1.title {
    font-family: $title-font;
    display: flex;
    font-weight: bold;
    font-size: 5vw;
    margin: 0px;
    padding-top: 1.5rem;
    white-space: nowrap;
    color: $main-color;
    letter-spacing: .15vw;


}

.product-menu {
    position: relative;
    display: inline-block;


}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.drop-btn {
    display: flex;
    font-family: $main-font;
    margin: 0px;
    padding: 0px;
    padding-right: 2vh;
    padding-left: 2vh;
    background-color: $menu-bg
}

.drop-btn-middle {
    display: flex;
    font-family: $main-font;
    margin: 0px;
    padding: 0px;
    padding-right: 2vh;
    padding-left: 2vh;
    border-right: 0.5px solid white;
    border-left: 0.5px solid white;
    background-color: $menu-bg
}

div.buttonMenu {
    display: flex;
    font-size: 1.3vw;
    align-items: flex-end;
    margin: 0rem;
    margin-right: 14vw;
    margin-left: 10vw;
    white-space: nowrap;

}




p.button1 {
    display: flex;
    padding-right: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding-bottom: 0rem;
    font-family: $main-font;
    // border: $test;
}

p.button1:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

hr {
    margin: 0rem;
    padding: 0rem;
}


.product-menu:hover .dropdown-content {
    display: block;
}

.product-menu:hover .drop-btn {
    border: $menu-border;
}

.dropdown-content p:hover {
    background-color: $accent-color;
    color: white;
}

.burger-menu {
    background-color: white;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    // border: $test;
    width: 6vw;
    margin-right: 4vw;
    margin-top: 5vh;
    margin-left: 1vw;;

    img {

        height: 3vh;
        // border: $test;
    }
}

// @media only screen and (max-width: 850px) {}

@media only screen and (max-width: 650px) {
    .Nav .buttonMenu {
        display: none;
    }

.Nav .left-side {
    // padding-left: 0;
    // border: $test;
    display: flex;
    justify-content: center;
    margin-right: 3vw;

}
    

    .left-side > a > h1.title {
        font-size: 8vw;
    }

    .left-side > a > img {
    display: flex;
        // border: $test;
     width: 10vh;
    }





}

// .left-side > a > .title:hover {
//     color: $accent-color;
// }