@import 'variables.scss';

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 8vw;
  border-bottom: 1.5px solid darkgrey;


  .left-side {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

  }

  //logo

  img {
    display: flex;
    width: 9vw;
    height: auto;
    margin: 0px;
    margin-bottom: 1.5vw;
    margin-right: 1vw;
    margin-left: 5vw;
  }

  .left-side>a>h1.title {
    font-family: $title-font;
    display: flex;
    font-weight: bold;
    font-size: 5vw;
    margin: 0px;
    // padding-top: 1.5rem;
    white-space: nowrap;
    color: $main-color;
    letter-spacing: .15vw;
  }


  .buttonMenu {
    display: flex;
    font-size: 1.3vw;
    align-items: flex-end;
    margin: 0rem;
    // margin-right: 5vw;
    // margin-left: 10vw;
    white-space: nowrap;
  }

  .product-menu {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;

  }

  .drop-item {
    display: flex;
    font-family: $main-font;
    margin: 0px;
    padding: 0px;
    padding-right: 2vh;
    padding-left: 2vh;
    background-color: $menu-bg;
    border: $menu-border;
  }

  p.button1 {
    display: flex;
    padding-right: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding-bottom: 0rem;
    font-family: $main-font;
  }

  p.button1:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
  }

  .product-menu:hover .dropdown-content {
    display: block;
  }

  .product-menu:hover .drop-btn {
    border: $menu-border;
  }

  .dropdown-content p:hover {
    background-color: $accent-color;
    color: white;
  }

}
/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.burger-menu {
    background-color: white;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    // align-items: baseline;
    // border: $test;
    width: 6vw;
    margin-right: 18vw;
    margin-top: 4.6vh;
    // margin-left: 1vw;
    height: 100%;
    display:none;

    img {

        height: 3vh;
        width: 6vw;
        // border: $test;

    }
}

.NavMobile {
  display: none;
}

// // @media only screen and (max-width: 850px) {}

@media only screen and (max-width: 768px) {

  .NavMobile {
    display: flex;
  }

  .Nav {
    display: none;
  }

  .buttonMenu {
    margin-right: 0%;
    display: flex;
    justify-content: space-evenly;
    height: 2px;
    width: 100%;
    background-color: $main-color;
    position: fixed;
    top: 8vw;
    padding-top: 3.5rem;

    p {
      color: white;
      font-size: large;
      margin-right: 5rem;
      margin-left: 5rem;




    }

  }


}


//     // .burger-menu {
//     //     display:flex;
//     // }

//     .Nav {
//       // border: $test;
//       margin-right: 4vw;
//       margin-top: 0;
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       align-items: flex-start;
//       border: $test;
//   }

//     .Nav .buttonMenu {
//         // display: none;

//         border: $test;
//         display: none;
//         flex-direction: column;
//         font-size: 2rem;
//         margin-right: 40vw;
//         // background-color: $main-color;

//     }


//     // .Nav .buttonMenu {
//     //     display: none;
//     // }

// .Nav .left-side {
//     // padding-left: 0;
//     // border: $test;
//     display: flex;
//     justify-content: center;
//     margin-right: 3vw;

// }

// .Nav .buttonMenu #hidden{
//     border: $test;

// }

//     .left-side > a > h1.title {
//         font-size: 8vw;
//         margin-left: 1vw;
//         margin-bottom: 0.5vh;
//     }

//     .left-side > a > img {
//     display: flex;
//     margin-bottom: 2.5vh;
//         // border: $test;
//         margin-left: 6vw;
//      width: 10vh;
//     }







// // .left-side > a > .title:hover {
// //     color: $accent-color;
// // }