@import 'variables.scss';

.Products {
    // border: $test;
    display: flex;
    // flex-direction: row;
}

.side-bar {
    // border: $test;

// h1.Title {
    display: flex;
flex-direction: row;
//     margin-left: 40%;
 }


// .index {
//     // border: $test;
//     display: flex;
//     flex-direction: column;
//     // align-items: flex-end;
//     align-items: center;
//     width: 70%;
//     color: $main-color;
//     width: 60vw;
//     margin-left: 10vw ;
//     margin-right: 24vw;
//     margin-bottom: 5vh;
//     margin-top: 3vh;
//     text-align: left ;

//     p {
//         text-align: left;
//         margin-top: 2vh;
//         margin-bottom: 1vh;
        
//     }

//     h3 {
//         margin-top: 4vh;
//         margin-bottom: 1vh;
//     }
// }
