@import 'variables.scss';

.Products {
    // border: $test;
    display: flex;
    flex-direction: row;
}

.side-bar {
    // border: $test;

// h1.Title {
    display: flex;
flex-direction: row;
//     margin-left: 40%;
 }