@import 'variables.scss';

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $main-font;
    margin: 0%;
    padding: 0%;

}

.side-bar > a {
    font-family: $main-font;
    color: $main-color;
    margin: 0px;
    padding: 0px;
    padding-right: 1vw;
    padding-left: 1vw;
    border: $menu-border;
    background-color: lightgray;
    width: 12vw;
}