@import 'variables.scss';

nav.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-top: 10vh;

    // padding: 0;
    // margin: 0;
}

.first-half,
.second-half {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    // border: $test;
    // height: 100%;
    //     height: 200px;
    // width: 150px;
    // position: fixed;
    // top: 0;

    // padding-top: 40px;
    font-family: $main-font;
    margin-top: 0;
    // padding: 0%;

}

.side-bar>.first-half>a,
.side-bar>.second-half>a {
    font-family: $main-font;
    color: $main-color;
    margin: 0px;
    padding: 0px;
    padding-right: 1vw;
    padding-left: 1vw;
    border: $menu-border;
    background-color: lightgray;
    width: 12vw;



}

.first-half>a:hover,
.second-half>a:hover {
    background-color: $accent-color;
    color: white;
    text-decoration: none;



}

@media only screen and (max-width: $sm-screen) {

    nav.side-bar {
        display: flex;
        flex-direction: column;
        margin-top: 1vh;
        z-index: inherit;
    }

    .side-bar > .first-half,
    .side-bar > .second-half {
        display: flex;
        flex-direction: row;
        justify-content: center;

          height: 4rem;
        width: 100%;
        margin-left: 4vw;
    }

    .side-bar>.first-half>a,
.side-bar>.second-half>a {

    display: flex;
    align-items: center;
    justify-content: center;
}
}