@import 'variables.scss';

nav > .side-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
//     height: 200px;
// width: 150px;
// position: fixed;
// top: 0;
left: 0;
// padding-top: 40px;
    font-family: $main-font;
    margin-top: 10vh;
    // padding: 0%;


}

.side-bar > a {
    font-family: $main-font;
    color: $main-color;
    margin: 0px;
    padding: 0px;
    padding-right: 1vw;
    padding-left: 1vw;
    border: $menu-border;
    background-color: lightgray;
    width: 12vw;
    
}

.side-bar > a:hover {
    background-color: $accent-color;
    color: white;
    text-decoration: none;
    


}